.logo {
	--color: 0deg, 0%;
	--light0: 70%;
	--light1: 40%;
	--color0: hsl(var(--color), var(--light0));
	--color1: hsl(var(--color), var(--light1));
	--fill0: var(--color0);
	--fill1: var(--color1);
	--border0: none;
	--border1: none;
	--radius: 100%;
	--size: 1rem;
	--spacing: .35;
	--gap: calc(var(--spacing) * var(--size));

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
	padding: 1rem;
	cursor: pointer;

	.char {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--gap);
	}

	.bit0, .bit1 {
		width: var(--size);
		height: var(--size);
		border-radius: var(--radius);
		display: inline-block;
	}

	.bit0 {
		background-color: var(--fill0);
		border: var(--border0);
	}

	.bit1 {
		background-color: var(--fill1);
		border: var(--border1);
	}

	&:hover {
		background-color: #f6f6f6;
		border-radius: 1rem;
	}

	&:active {
		background-color: #eee;
	}

	&.ltr {
		flex-direction: row;

		.char {
			flex-direction: column;
		}
	}
}
